rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow any authenticated user full access to the database
    // since this is an internal application without roles.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
